/*!****************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \****************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap);
/*!********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss (1) ***!
  \********************************************************************************************************************************************************************************************************************/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
em,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*Colors*/
/*Font family*/
/*Font weight*/
/*Font size*/
/*Header*/
/*Sections*/
body {
  font-family: "Mukta", sans-serif;
}

.h3 {
  font-size: 70px;
  line-height: 84px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .h3 {
    font-size: 36px;
    line-height: 43.2px;
  }
}

.h4 {
  font-size: 30px;
  line-height: 39px;
  font-weight: 500;
}
@media screen and (max-width: 1250px) {
  .h4 {
    font-size: 26px;
    line-height: 31.2px;
  }
}
@media screen and (max-width: 767px) {
  .h4 {
    font-size: 17px;
    line-height: 20.8px;
  }
}

.h5 {
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
}

.h6 {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
}

@font-face {
  font-family: "iconfont";
  src: url("../../dist/font/iconfont.eot"); /* IE9 Compat Modes */
  src: url("../../dist/font/iconfont.eot?#iefix") format("embedded-opentype"), url("../../dist/font/iconfont.woff") format("woff"), url("../../dist/font/iconfont.ttf") format("truetype"), url("../../dist/font/iconfont.svg") format("svg"); /* Legacy iOS */
}
.icon {
  font-style: normal;
  font-weight: 400;
}
.icon.affiliate-network:before {
  font-family: "iconfont";
  content: "\ea01";
}
.icon.category:before {
  font-family: "iconfont";
  content: "\ea02";
}
.icon.circuit:before {
  font-family: "iconfont";
  content: "\ea03";
}
.icon.collect-svgrepo-com:before {
  font-family: "iconfont";
  content: "\ea04";
}
.icon.consultation-svgrepo-com:before {
  font-family: "iconfont";
  content: "\ea05";
}
.icon.envelope:before {
  font-family: "iconfont";
  content: "\ea06";
}
.icon.expand:before {
  font-family: "iconfont";
  content: "\ea07";
}
.icon.link:before {
  font-family: "iconfont";
  content: "\ea08";
}
.icon.logo:before {
  font-family: "iconfont";
  content: "\ea09";
}
.icon.meet-now-svgrepo-com:before {
  font-family: "iconfont";
  content: "\ea0a";
}
.icon.meeting-consider-deliberate-about-meet-svgrepo-com:before {
  font-family: "iconfont";
  content: "\ea0b";
}
.icon.minus:before {
  font-family: "iconfont";
  content: "\ea0c";
}
.icon.oxford-badge-logo:before {
  font-family: "iconfont";
  content: "\ea0d";
}
.icon.phone:before {
  font-family: "iconfont";
  content: "\ea0e";
}
.icon.play-circle-filled:before {
  font-family: "iconfont";
  content: "\ea0f";
}
.icon.plus:before {
  font-family: "iconfont";
  content: "\ea10";
}
.icon.printer:before {
  font-family: "iconfont";
  content: "\ea11";
}
.icon.rejected-document:before {
  font-family: "iconfont";
  content: "\ea12";
}
.icon.speedometer:before {
  font-family: "iconfont";
  content: "\ea13";
}
.icon.team-megaphone:before {
  font-family: "iconfont";
  content: "\ea14";
}
.icon.wifi:before {
  font-family: "iconfont";
  content: "\ea15";
}

.header {
  background-color: #F1F3F6;
}

.header__logo {
  filter: invert(1);
  position: relative;
  max-height: 60px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 150px;
    height: 26.5px;
  }
}

.header__wrapper {
  margin: 0 auto;
  max-width: 1230px;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .header__wrapper {
    padding: 0 20px;
    max-width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .header__wrapper {
    min-height: 80px;
  }
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.button {
  background-color: #3cbca7;
  padding: 15px 30px 16px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: #FFFFFF;
  font-family: "Mukta", sans-serif;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
@media screen and (max-width: 1250px) {
  .button {
    padding: 12px 20px;
    font-size: 14px;
    line-height: 16.8px;
  }
}
.button:hover {
  box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
}

.button--header {
  padding: 13px 30px 14px 30px;
  width: 135px;
}
@media screen and (max-width: 1250px) {
  .button--header {
    font-size: 16px;
    line-height: 19.2px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .button--header {
    display: none;
  }
}

.button--animated {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  transition-property: transform;
  transition-duration: 0.5s;
}
.button--animated:hover {
  transform: scaleX(0.95);
}

.button__logo {
  margin-right: 10px;
}

.button-menu {
  padding: 0;
  display: none;
  font-family: "Mukta", sans-serif;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 26.59px;
}
@media screen and (max-width: 1250px) {
  .button-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 73px;
  }
}

.button-menu__img {
  padding-left: 6px;
  width: 30px;
  height: 35px;
}

.button--team {
  position: absolute;
  top: 1.8%;
  right: 13%;
}
@media screen and (max-width: 1250px) {
  .button--team {
    top: 2.6%;
    right: 2.7%;
  }
}
@media screen and (max-width: 767px) {
  .button--team {
    top: 63.2%;
    right: unset;
    left: 5.5%;
  }
}

.button--news {
  position: absolute;
  top: 2.2%;
  right: 0;
}
@media screen and (max-width: 1250px) {
  .button--news {
    top: 4.6%;
  }
}
@media screen and (max-width: 767px) {
  .button--news {
    bottom: 7.6%;
    top: unset;
    left: 0;
    right: unset;
  }
}

@media screen and (max-width: 1250px) {
  .button--footer {
    padding: 15px 30px 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
  }
}
@media screen and (max-width: 767px) {
  .button--footer {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
  }
}

.nav {
  margin-right: 48px;
  min-width: 479px;
}
@media screen and (max-width: 1250px) {
  .nav {
    display: none;
  }
}

.nav__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 20px 0;
    border-top: 2px solid #EAEAEA;
  }
}

.nav__item {
  padding: 3px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 26.59px;
}
@media screen and (max-width: 1250px) {
  .nav__item {
    width: 100%;
    border-bottom: 2px solid #EAEAEA;
    border-radius: unset;
    padding: 0;
  }
}

.nav__item--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .nav__item--flex {
    justify-content: flex-start;
  }
}

.nav__item--blue:hover .dropdown {
  visibility: visible;
}

.nav__item-button {
  display: none;
}
@media screen and (max-width: 767px) {
  .nav__item-button {
    display: block;
    padding: 20px 0 16px;
  }
}

.nav__link {
  color: inherit;
  display: inline-block;
  height: 100%;
  padding: 9px 18px 10px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 26.59px;
}
@media screen and (max-width: 1250px) {
  .nav__link {
    width: 100%;
    padding: 20px 0px 16px;
    justify-content: flex-start;
  }
}
.nav__link:hover {
  background-color: #DADADA;
}
@media screen and (max-width: 1250px) {
  .nav__link:hover {
    background-color: unset;
    border-radius: unset;
  }
}

.nav__link--blue:hover {
  background-color: #3cbca7;
  color: #FFFFFF;
  border-radius: 100px;
}
@media screen and (max-width: 1250px) {
  .nav__link--blue:hover {
    background-color: unset;
    color: unset;
    border-radius: unset;
  }
}
.nav__link--blue:hover .expand {
  color: #FFFFFF;
}
@media screen and (max-width: 1250px) {
  .nav__link--blue:hover .expand {
    color: #3cbca7;
  }
}

.icon {
  color: #3cbca7;
  margin-left: 5px;
}

.expand {
  font-size: 8px;
  padding-left: 3px;
}

@media screen and (max-width: 1250px) {
  .nav.nav--open {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    bottom: 0;
    background-color: #F1F3F6;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .nav.nav--open {
    top: 80px;
  }
}

@media screen and (max-width: 1250px) {
  .no-scroll {
    overflow: hidden;
  }
}
@media screen and (max-width: 767px) {
  .no-scroll {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

.hero {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 80vh;
}

.hero__background-1 {
  background-repeat: no-repeat;
  background-size: 1684px 884px;
  background-position-x: 50%;
  background-position-y: 47px;
  height: 100%;
}
@media screen and (max-width: 1250px) {
  .hero__background-1 {
    background-position-x: 15%;
    background-position-y: 19px;
  }
}
@media screen and (max-width: 767px) {
  .hero__background-1 {
    background-size: 1070px 562px;
    background-position-x: 9.6%;
    background-position-y: 0;
  }
}

.hero__background-2 {
  background-repeat: no-repeat;
  background-size: 930px 860px;
  background-position-x: 68%;
  background-position-y: 130px;
  height: 100%;
}
@media screen and (max-width: 1250px) {
  .hero__background-2 {
    background-size: 660px 987px;
    background-position-x: 50%;
    background-position-y: 11px;
  }
}
@media screen and (max-width: 767px) {
  .hero__background-2 {
    background-size: 313.69px 469.11px;
    background-position-x: 50%;
    background-position-y: 120px;
  }
}

.hero__background-3 {
  background-repeat: no-repeat;
  background-size: 660px 925px;
  background-position-x: 64.9%;
  background-position-y: 66px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .hero__background-3 {
    background-size: 392px 1000px;
    background-position-x: 55%;
    background-position-y: -28px;
  }
}
@media screen and (max-width: 767px) {
  .hero__background-3 {
    background-size: 222.8px 525.16px;
    background-position-x: 56%;
    background-position-y: 52px;
  }
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10px auto 0;
}
@media screen and (max-width: 1250px) {
  .hero__wrapper {
    margin: 10px auto 0;
  }
}
@media screen and (max-width: 767px) {
  .hero__wrapper {
    margin: 0 auto;
  }
}

.hero__img-wrapper {
  width: 100%;
  margin: 0 auto;
}

.hero__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 43px;
}

.hero__title {
  margin-bottom: 20px;
  font-size: 104px;
  font-weight: 700;
  line-height: 104px;
}
@media screen and (max-width: 1250px) {
  .hero__title {
    font-size: 110px;
    line-height: 110px;
  }
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 46px;
    line-height: 46px;
    margin-bottom: 10px;
  }
}

.hero__subtitle {
  text-align: right;
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
}
@media screen and (max-width: 1250px) {
  .hero__subtitle {
    text-align: left;
    font-size: 32px;
    line-height: 32px;
  }
}
@media screen and (max-width: 767px) {
  .hero__subtitle {
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }
}

.hero__wrap {
  padding: 60px 0;
  position: absolute;
  left: 0;
  right: -2%;
  top: 16%;
  width: clamp(200px, 100%, 816px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .hero__wrap {
    padding-top: 160px;
  }
}

.video {
  padding: 0 20px;
}

.video__wrapper {
  margin: 177px auto 156px;
  max-width: 1230px;
  max-height: 685px;
}
@media screen and (max-width: 1250px) {
  .video__wrapper {
    margin: 100px auto 95px;
    height: unset;
  }
}
@media screen and (max-width: 767px) {
  .video__wrapper {
    margin: 70px auto 65px;
  }
}

.video__iframe {
  max-height: 691px;
  border-radius: 15px;
}
@media screen and (max-width: 1250px) {
  .video__iframe {
    max-height: 408px;
  }
}
@media screen and (max-width: 767px) {
  .video__iframe {
    max-height: 188px;
    border-radius: unset;
  }
}

.capabilities {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 980px;
  background-color: #F1F3F6;
  background-repeat: no-repeat;
  background-position: -2.7% 154.5px;
  background-size: 1091px 670px;
}
@media screen and (max-width: 1250px) {
  .capabilities {
    height: 1450px;
    background-size: 994px 611px;
    background-position: 38% 10%;
  }
}
@media screen and (max-width: 767px) {
  .capabilities {
    height: 923px;
    background-size: 550px 337px;
    background-position: 43% 44px;
  }
}

.capabilities__wrapper {
  position: relative;
  width: 50%;
}

.capabilities__title {
  padding-bottom: 50px;
  max-width: 650px;
}
@media screen and (max-width: 767px) {
  .capabilities__title {
    padding-bottom: 30px;
    font-size: 36px;
    line-height: 43.2px;
  }
}

.capabilities__subtitle {
  margin-bottom: 5px;
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
}
@media screen and (max-width: 767px) {
  .capabilities__subtitle {
    font-size: 18px;
    line-height: 23.4px;
  }
}

.capabilities__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .capabilities__card {
    margin-bottom: 10px;
    align-items: unset;
  }
}

.capabilities__details {
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .capabilities__details {
    margin-left: 10px;
  }
}

.capabilities__desc {
  color: #4C4C51;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
}
@media screen and (max-width: 767px) {
  .capabilities__desc {
    font-size: 12px;
    line-height: 19.2px;
  }
}

.capabilities__img {
  max-width: 46px;
  max-height: 50px;
}

.capabilities__label {
  color: #3cbca7;
}

.capabilities__desc--bottom {
  padding: 30px 0;
}
@media screen and (max-width: 767px) {
  .capabilities__desc--bottom {
    padding: 18px 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .capabilities__desc--break-lg {
    margin-right: 67px;
  }
}

@media screen and (max-width: 767px) {
  .capabilities__desc--break-sm {
    margin-right: 56px;
  }
}

.capabilities__image-img {
  filter: brightness(0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  z-index: 1;
  padding: 120px;
}

.capabilities__image {
  width: 50%;
  height: 100%;
  position: relative;
}

.applications__wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 166px 0 154px;
}
@media screen and (max-width: 1250px) {
  .applications__wrapper {
    max-width: 728px;
    padding: 96px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .applications__wrapper {
    max-width: 335px;
    padding: 67px 0 0;
  }
}

.applications__container {
  color: #13131A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: unset;
  padding-bottom: 36px;
}
@media screen and (max-width: 1250px) {
  .applications__container {
    flex-direction: column;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .applications__container {
    padding-bottom: 40px;
  }
}

.applications__card {
  margin-left: 233px;
}
@media screen and (max-width: 1250px) {
  .applications__card {
    margin-left: 0;
  }
}

@media screen and (max-width: 1250px) {
  .applications__title {
    margin-bottom: 20px;
  }
}

.applications__subtitle {
  margin-right: 81px;
  padding-bottom: 40px;
  font-size: 36px;
  font-weight: 500;
  line-height: 50.4px;
}
@media screen and (max-width: 767px) {
  .applications__subtitle {
    font-size: 23px;
    line-height: 32.2px;
    margin-right: 21px;
    padding-bottom: 20px;
  }
}

.applications__desc {
  margin-right: 173px;
  color: #9B9DA5;
  font-size: 23px;
  font-weight: 400;
  line-height: 36.8px;
}
@media screen and (max-width: 1250px) {
  .applications__desc {
    margin-right: unset;
  }
}
@media screen and (max-width: 767px) {
  .applications__desc {
    font-size: 16px;
    line-height: 24px;
  }
}

.applications__label {
  color: #13131A;
}

.applications__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  filter: brightness(0.4);
  gap: 30px;
}
@media screen and (max-width: 1250px) {
  .applications__img {
    width: 100%;
    min-height: 450px;
  }
}
@media screen and (max-width: 767px) {
  .applications__img {
    min-height: 210px;
  }
}

.technology {
  position: relative;
  min-height: 470px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}
@media screen and (max-width: 1250px) {
  .technology {
    margin: 90px 0 100px;
    min-height: 480px;
  }
}
@media screen and (max-width: 767px) {
  .technology {
    min-height: 627px;
    margin: 60px 0;
  }
}

.technology__wrapper {
  margin: 0 auto;
  max-width: clamp(250px, 100%, 1230px);
  width: 100%;
  padding: 0 20px;
  color: #FFFFFF;
  padding-bottom: 103px;
}
@media screen and (max-width: 767px) {
  .technology__wrapper {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1250px) {
  .technology__wrapper {
    flex-direction: column;
    align-items: center;
    max-height: 70%;
    max-width: 728px;
    margin: 0 auto;
    padding-top: 70px;
  }
}
@media screen and (max-width: 767px) {
  .technology__wrapper {
    align-items: center;
    justify-content: flex-start;
    max-width: unset;
    max-height: unset;
    padding: 0;
  }
}

.technology__title {
  text-align: center;
  padding-top: 89px;
  margin-right: 57px;
}
@media screen and (max-width: 1250px) {
  .technology__title {
    padding: 0;
    align-self: flex-start;
    margin-left: 16px;
    margin-right: 0;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .technology__title {
    align-self: center;
    margin: 50px 15px 0 0;
  }
}

.technology__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .technology__content {
    max-width: 728px;
  }
}
@media screen and (max-width: 767px) {
  .technology__content {
    flex-direction: column-reverse;
    position: static;
    max-height: 424px;
    align-items: center;
    justify-content: center;
    max-width: 260px;
    margin-top: 41px;
  }
}

.technology__card {
  font-size: 18px;
  font-weight: 500;
  line-height: 23.4px;
  flex-basis: 260px;
  margin-right: 20px;
}
@media screen and (max-width: 1250px) {
  .technology__card {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    flex-basis: 229px;
  }
}
@media screen and (max-width: 767px) {
  .technology__card {
    flex-basis: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .technology__card:nth-of-type(1) {
    order: unset;
    margin-right: unset;
  }
}

@media screen and (max-width: 767px) {
  .technology__card:nth-of-type(2) {
    order: unset;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .technology__card:nth-of-type(3) {
    margin-bottom: 30px;
  }
}

.technology__img {
  margin-bottom: 25px;
}
@media screen and (max-width: 1250px) {
  .technology__img {
    margin-bottom: 23px;
  }
}
@media screen and (max-width: 767px) {
  .technology__img {
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
  }
}

.technology__description {
  min-height: 70px;
}
@media screen and (max-width: 767px) {
  .technology__description {
    text-align: center;
  }
}

.technology__description-small {
  font-size: 26px;
  padding-bottom: 20px;
  min-height: 67px;
}
@media screen and (max-width: 767px) {
  .technology__description-small {
    text-align: center;
  }
}

.technology__image {
  filter: brightness(0.4);
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  bottom: 0;
  left: 0;
  background-position: center;
}

.team {
  position: relative;
}

.team__wrapper {
  max-width: 1230px;
  margin: 150px auto 0;
  color: #13131A;
}
@media screen and (max-width: 1250px) {
  .team__wrapper {
    max-width: 728px;
    margin: 100px auto 0;
  }
}
@media screen and (max-width: 767px) {
  .team__wrapper {
    max-width: 335px;
    margin: 70px auto 0;
  }
}

.team__title {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .team__title {
    margin-bottom: 31px;
  }
}

.investors {
  max-width: 1230px;
  margin: auto;
  margin: 37px auto 0;
}
@media screen and (max-width: 1250px) {
  .investors {
    max-width: 696px;
    margin: 18px auto 0;
  }
}
@media screen and (max-width: 767px) {
  .investors {
    max-width: 330px;
    margin: 105px auto 0;
  }
}

.investors__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  color: #13131A;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .investors__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
  }
}

.investors__paragraph {
  font-size: 23px;
  font-weight: 400;
  line-height: 36.8px;
  color: #9B9DA5;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .investors__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.investors__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1250px) {
  .investors__container {
    flex-direction: column;
    align-items: stretch;
  }
}

.investors__container-first {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .investors__container-first {
    margin-bottom: 40.5px;
  }
}
@media screen and (max-width: 767px) {
  .investors__container-first {
    margin-bottom: 30.5px;
  }
}

.investors__container-second {
  flex-basis: 44.7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .investors__container-second {
    flex-basis: 50%;
    justify-content: space-between;
  }
}

.investors__logo {
  max-width: 197px;
  max-height: 91px;
}
@media screen and (max-width: 767px) {
  .investors__logo {
    max-width: 107px;
    max-height: 49px;
    transform: scale(0.82);
  }
}

@media screen and (max-width: 767px) {
  .investors__logo--top {
    max-height: 23px;
    transform: unset;
  }
}

.slider {
  position: relative;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .slider {
    margin-top: 18px;
  }
}
.slider::before, .slider::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 215px;
  max-height: 474px;
  opacity: 80%;
  background-color: #FFFFFF;
  z-index: 1;
}
@media screen and (max-width: 1250px) {
  .slider::before, .slider::after {
    display: none;
  }
}
.slider::before {
  left: 0;
}
.slider::after {
  right: 0;
}

.slider__carousel {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  scroll-behavior: smooth;
}

.slider__card {
  color: #13131A;
  margin-right: 20px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .slider__card {
    margin-right: 10px;
  }
}
.slider__card:hover .slider__overlay {
  bottom: 0;
}
.slider__card:hover .slider__img {
  transform: scale(1.1);
}
.slider__card:hover .slider__name {
  color: #3cbca7;
}
.slider__card:hover .slider__position {
  border-bottom: 1px solid #3cbca7;
}

.slider__card--first {
  margin-left: 215px;
}
@media screen and (max-width: 1250px) {
  .slider__card--first {
    margin-left: 20px;
  }
}

.slider__card--last {
  margin-right: 235px;
}

.slider__img-container {
  border-radius: 12px;
  width: 293px;
  height: 392px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1250px) {
  .slider__img-container {
    width: 310px;
    height: 422px;
  }
}
@media screen and (max-width: 767px) {
  .slider__img-container {
    width: 180px;
    height: 230px;
  }
}

.slider__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.slider__overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  transition: bottom 0.3s ease;
}

.slider__overlay-button {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
}

.slider__name {
  transition: color 0.3s ease;
  white-space: nowrap;
  font-size: 23px;
  font-weight: 500;
  line-height: 29.9px;
  padding: 20px 0 3px;
}
@media screen and (max-width: 767px) {
  .slider__name {
    font-size: 19px;
    font-weight: 500;
    line-height: 23.4px;
  }
}
@media screen and (max-width: 767px) {
  .slider__name {
    padding: 11px 0 0;
  }
}

.slider__position {
  border-bottom: 1px solid transparent;
  padding-bottom: 20px;
  transition: border 0.3s ease;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
}
@media screen and (max-width: 767px) {
  .slider__position {
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    padding-bottom: 5px;
  }
}

.slider__arrows {
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  margin: 14px auto 0;
}
@media screen and (max-width: 1250px) {
  .slider__arrows {
    justify-content: center;
    margin: 12px auto 0;
  }
}
@media screen and (max-width: 767px) {
  .slider__arrows {
    justify-content: flex-start;
    max-width: 335px;
    margin: 13px auto 0;
  }
}

.slider__arrow {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #C4C4C4;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .slider__arrow {
    width: 60px;
    height: 60px;
  }
}

.slider__arrow:first-of-type {
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .slider__arrow:first-of-type {
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .slider__arrow-img {
    width: 16px;
    height: 16px;
  }
}

.slider__arrow:disabled {
  opacity: 50%;
}

.news {
  max-width: 1230px;
  margin: 89px auto 115px;
  position: relative;
}
@media screen and (max-width: 1250px) {
  .news {
    max-width: 696px;
    margin: 97px auto 100px;
  }
}
@media screen and (max-width: 767px) {
  .news {
    max-width: 335px;
    margin: 70px auto 0;
    padding-bottom: 153px;
  }
}

.news__posts {
  max-width: 605px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .news__posts {
    flex-direction: column;
  }
}

.news__post {
  cursor: pointer;
}
.news__post:hover .news__post-img {
  box-shadow: 0px 30px 60px -30px #13131A;
}
.news__post:hover .news__heading {
  color: #3cbca7;
  -webkit-text-decoration: 1px underline;
          text-decoration: 1px underline;
  text-underline-offset: 3px;
}
.news__post:hover .news__blog-button {
  background-color: #3cbca7;
  border: 1px solid #3cbca7;
}
.news__post:hover .news__arrows {
  transform: translateX(50%);
}

.news__post--gap {
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .news__post--gap {
    margin-right: -3px;
    margin-bottom: 36px;
  }
}

.news__post-img {
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1250px) {
  .news__post-img {
    width: 338px;
    height: 210px;
  }
}
@media screen and (max-width: 767px) {
  .news__post-img {
    width: 334px;
    height: 148px;
  }
}

.news__title {
  margin-bottom: 60px;
  color: #13131A;
}
@media screen and (max-width: 1250px) {
  .news__title {
    margin-bottom: 30px;
  }
}

.news__label {
  color: #3cbca7;
}
@media screen and (max-width: 767px) {
  .news__label {
    color: #13131A;
  }
}

.news__tags {
  margin: 37px 0 23px;
  color: #9B9DA5;
  font-size: 14px;
  font-weight: 500;
  line-height: 23.27px;
}
@media screen and (max-width: 1250px) {
  .news__tags {
    margin: 39px 0 25px;
  }
}
@media screen and (max-width: 767px) {
  .news__tags {
    font-size: 12px;
    font-weight: 500;
    line-height: 19.94px;
    margin: 18px 0;
  }
}

.news__category {
  margin-right: 17px;
  border: 1px solid #9B9DA5;
  padding: 6px 14px;
  border-radius: 100px;
}

.news__heading {
  color: #13131A;
  margin: 0 24px 23px 0;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1250px) {
  .news__heading {
    font-size: 26px;
    font-weight: 500;
    line-height: 31.2px;
    margin: 0 24px 31px 0;
  }
}
@media screen and (max-width: 767px) {
  .news__heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin: 0 24px 9px 0;
  }
}

.news__heading--wrap {
  margin: 0 34px 26px 0;
}
@media screen and (max-width: 767px) {
  .news__heading--wrap {
    margin: 0 24px 12px 0;
  }
}

.news__blog-button {
  width: 50px;
  height: 50px;
  border: 1px solid #9B9DA5;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media screen and (max-width: 767px) {
  .news__blog-button {
    width: 43px;
    height: 43px;
  }
}

.news__arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  left: -74%;
  transition: transform 0.3s ease;
}
@media screen and (max-width: 767px) {
  .news__arrows {
    left: -97%;
  }
}

.news__arrow {
  margin-right: 40px;
}

.careers {
  background-color: #F1F3F6;
  padding-top: 35px;
}
@media screen and (max-width: 1250px) {
  .careers {
    padding-top: 62px;
  }
}
@media screen and (max-width: 767px) {
  .careers {
    padding-top: 41px;
  }
}

.careers__wrapper {
  max-width: 1230px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .careers__wrapper {
    flex-direction: column;
    max-width: 728px;
    align-items: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .careers__wrapper {
    max-width: 335px;
  }
}

.careers__card {
  flex-basis: 40%;
  padding-bottom: 63px;
}
@media screen and (max-width: 1250px) {
  .careers__card {
    padding-bottom: 26px;
  }
}

.careers__title {
  margin: 10px 0 40px;
}
@media screen and (max-width: 767px) {
  .careers__title {
    margin: 10px 0 20px;
  }
}

.careers__label {
  color: #3cbca7;
}

.careers__background-tertiary {
  background-repeat: no-repeat;
  background-size: 652.74px 657.87px;
  background-position-x: 100.5%;
  background-position-y: -30px;
  flex-basis: 60%;
}
@media screen and (max-width: 1250px) {
  .careers__background-tertiary {
    width: 100%;
    background-size: 560.98px 561.9px;
    background-position-x: 51.5%;
    background-position-y: 20px;
  }
}
@media screen and (max-width: 767px) {
  .careers__background-tertiary {
    width: 100%;
    background-size: 302.25px 295.93px;
    background-position-x: 37.5%;
    background-position-y: 19px;
  }
}

.careers__background-secondary {
  background-repeat: no-repeat;
  background-size: 220px 225px;
  background-position-x: 33%;
  background-position-y: 87px;
  height: 526px;
}
@media screen and (max-width: 1250px) {
  .careers__background-secondary {
    background-size: 188.29px 192.56px;
    background-position-x: 9.5%;
    background-position-y: 118px;
  }
}
@media screen and (max-width: 767px) {
  .careers__background-secondary {
    background-size: 101.56px 103.87px;
    background-position-x: -3.5%;
    background-position-y: 69px;
    overflow: hidden;
    height: 261px;
  }
}

.careers__background-primary {
  background-repeat: no-repeat;
  background-size: 299.51px 693px;
  background-position-x: 53%;
  background-position-y: -83px;
  height: 100%;
}
@media screen and (max-width: 1250px) {
  .careers__background-primary {
    background-size: 255.9px 593.1px;
    background-position-x: 53%;
    background-position-y: -27px;
  }
}
@media screen and (max-width: 767px) {
  .careers__background-primary {
    background-size: 138.03px 245.91px;
    background-position-x: 51%;
    background-position-y: 26px;
  }
}

.wrap {
  margin: 0 auto;
  max-width: 1417px;
  width: 100%;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .wrap {
    padding: 0 20px;
  }
}

.hidden {
  display: none;
}

.index .form__left-side {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

section {
  padding-top: 0;
}

.footer {
  background-color: #13131A;
}

.footer__wrapper {
  max-width: 1230px;
  padding: 40px 0 0;
  margin: auto;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__wrapper-bottom {
  max-width: 1230px;
  padding: 20px 0 20px;
  margin: auto;
  color: #FFFFFF;
  display: flex;
}

.footer__logo {
  padding: 5px 0 25px;
  max-height: 110px;
}
@media screen and (max-width: 1250px) {
  .footer__logo {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__logo {
    width: 150px;
    height: 26.5px;
  }
}

.footer__newsletter {
  grid-area: newsletter;
}
@media screen and (max-width: 767px) {
  .footer__newsletter {
    padding-top: 34px;
  }
}

.footer__newsletter-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  opacity: 40%;
  padding: 10px 0 30px;
  margin-right: 113px;
}
@media screen and (max-width: 1250px) {
  .footer__newsletter-text {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__newsletter-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.footer__primary-list {
  grid-area: primary-list;
}
@media screen and (max-width: 1250px) {
  .footer__primary-list {
    padding-top: 67px;
  }
}
@media screen and (max-width: 767px) {
  .footer__primary-list {
    padding-top: 27px;
  }
}

.footer__primary-link {
  color: #FFFFFF;
  position: relative;
  transition: color 0.4s ease-in-out;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.footer__primary-link:hover {
  color: #3cbca7;
}
.footer__primary-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #3cbca7;
  transform-origin: bottom left;
  transition: transform 0.4s ease-in-out;
}
.footer__primary-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer__primary-item:not(:last-child) {
  margin-bottom: 12px;
}

.footer__secondary-item:not(:last-child) {
  margin-bottom: 7px;
}

.footer__secondary-list {
  grid-area: secondary-list;
  padding-top: 3px;
}
@media screen and (max-width: 1250px) {
  .footer__secondary-list {
    padding-top: 65px;
  }
}
@media screen and (max-width: 767px) {
  .footer__secondary-list {
    padding-top: 26px;
  }
}

.footer__secondary-link {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  opacity: 40%;
  transition: opacity 0.3s ease-in-out;
}
.footer__secondary-link:hover {
  opacity: 100%;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  opacity: 40%;
}
@media screen and (max-width: 1250px) {
  .footer__copyright {
    text-align: center;
    padding-top: 29px;
  }
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    padding-top: 24px;
  }
}

.footer__contact-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  grid-area: contact-list;
  padding-top: 43px;
}
@media screen and (max-width: 1250px) {
  .footer__contact-list {
    justify-content: center;
    padding-top: 114px;
  }
}
@media screen and (max-width: 767px) {
  .footer__contact-list {
    padding-top: 65px;
  }
}

.footer__contact-item {
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  opacity: 30%;
  transition: opacity 0.3s ease-in-out;
}
.footer__contact-item:hover {
  opacity: 100%;
}

.footer__contact-item:not(:last-child) {
  margin-right: 10px;
}

.footer__contact-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.contact__hero {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 60vh;
}

.contact__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.contact__title {
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 60px;
}

.contact__wrapper {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.contact__wrap {
  padding: 60px 0;
  position: absolute;
  left: 0;
  right: -2%;
  top: 16%;
  width: clamp(200px, 100%, 1230px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .contact__wrap {
    padding-top: 160px;
  }
}

.dropdown {
  visibility: hidden;
  position: absolute;
  top: 55px;
  left: 38%;
  padding: 25px 20px 30px 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 230px;
  box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.15);
  color: #9B9DA5;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
@media screen and (max-width: 1250px) {
  .dropdown {
    visibility: unset;
    display: none;
    position: unset;
    background-color: #F1F3F6;
    box-shadow: unset;
    padding: 0 20px 20px;
  }
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown.dropdown--show {
  display: block;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .form {
    flex-direction: column;
  }
}

.form__left-side {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .form__left-side {
    width: 100%;
  }
}

.form__right-side {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .form__right-side {
    width: 100%;
  }
}

.form-group {
  margin-bottom: 15px;
}

.error {
  color: red;
  font-size: 0.9em;
}

.btn, .btn-blue, .btn-slider {
  font-family: "Mukta", sans-serif;
  background-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
  padding: 0;
  transition: 0.3s;
}

.btn-blue {
  background-color: #3cbca7;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 15px 30px 16px 30px;
  margin-bottom: 40px;
}

@media (max-width: 1199px) {
  .btn-blue {
    padding: 12px 20px;
    gap: 11px;
    font-size: 14px;
    line-height: 17px;
  }
}
.btn-blue:hover {
  background-color: #1739fe;
  box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.15);
}

button:disabled {
  background-color: #ccc;
}

.contact {
  padding: 80px 20px 150px 20px;
}

.contact__container {
  padding: 60px 0;
  width: clamp(200px, 100%, 1230px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact__box {
  border-top: 2px solid #13131a;
  padding-top: 30px;
}

.contact__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}

.contact__number {
  font-size: 23px;
  font-weight: 700;
  line-height: 37px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .contact__number {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 20px;
  }
}
.mail-box {
  margin-bottom: 40px;
}

.mail-box__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  border-bottom: 1px solid #e5e5e5;
}

@media (max-width: 1199px) {
  .mail-box__title {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .mail-box__title {
    line-height: 45px;
  }
}
.mail-box__mail {
  font-weight: 500;
  color: #3cbca7;
  text-decoration: underline;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .mail-box__mail--padding {
    padding-left: 0;
  }
}
.contact__address {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  margin: 20px 0 100px 0;
}

@media (max-width: 1199px) {
  .contact__address {
    margin: 20px 0 80px 0;
  }
}
@media (max-width: 767px) {
  .contact__address {
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0 60px 0;
  }
}
.form__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 40px;
}

@media (max-width: 1199px) {
  .form__item {
    width: 100%;
  }
}
.form__item--row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.form__item--width {
  width: 100%;
  border: none;
}

.form__label {
  font-size: 23px;
  font-weight: 400;
  line-height: 37px;
}

.form__input {
  font-family: "Mukta", sans-serif;
  border: none;
  outline-color: #3cbca7;
  font-size: 23px;
  font-weight: 400;
  line-height: 20px;
  border-bottom: 1px solid #e5e5e5;
}

@media (max-width: 767px) {
  .form__input {
    line-height: 30px;
  }
}
.form__icon-arrow-down {
  font-size: 12px;
  color: #3cbca7;
}

.form__textarea {
  font-family: "Mukta", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 20px;
  outline-color: #3cbca7;
  height: 234px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  resize: none;
  padding: 15px;
}

.form__checkbox-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  align-items: baseline;
}

@media (max-width: 1199px) {
  .form__checkbox-box {
    align-items: flex-start;
  }
}
.form__checkbox {
  width: 22px;
  height: 22px;
}

.form__checkbox-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #9b9da5;
}

.contact__success-msg-box {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
}

.contact__success-msg-box.hidden {
  display: none;
}

@media (max-width: 767px) {
  .contact__success-msg-box {
    gap: 15px;
  }
}
.contact__success-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9b9da5;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .contact__success-btn {
    width: 40px;
    height: 40px;
  }
}
.icon-corect {
  color: #3cbca7;
  font-size: 18px;
}

@media (max-width: 767px) {
  .icon-corect {
    font-size: 15px;
  }
}
.contact__success-msg {
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
}

@media (max-width: 767px) {
  .contact__success-msg {
    font-size: 20px;
    line-height: 24px;
  }
}
.form__checkbox-wrap {
  display: flex;
  flex-direction: column;
}

[type=checkbox] {
  position: relative;
  top: 2px;
}

.form__title {
  font-size: 60px;
  padding: 0 0 40px 0;
  text-align: center;
  padding-bottom: 60px;
}

.accordion {
  padding: 98px 20px 100px 20px;
}
@media (max-width: 1199px) {
  .accordion {
    padding: 67px 20px 60px 20px;
  }
}
@media (max-width: 767px) {
  .accordion {
    padding: 42px 20px 31px 20px;
  }
}

.accordion__container {
  width: clamp(250px, 100%, 1230px);
  margin: 0 auto;
  border-bottom: 2px solid #3cbca7;
}

.accordion__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0;
  border-top: 2px solid #9B9DA5;
}
@media (max-width: 767px) {
  .accordion__head {
    padding: 21px 0 21px 0;
  }
}

.accordion__head:nth-child(1) {
  border-top: 2px solid #3cbca7;
}

.accordion__head:hover {
  background-color: #EAEAEA;
}

.accordion__head-title {
  max-width: 85%;
  font-size: 30px;
  font-weight: 500;
  line-height: 39px;
  text-align: left;
}
@media (max-width: 767px) {
  .accordion__head-title {
    font-size: 24px;
    line-height: 31px;
  }
}

.accordion__body {
  max-height: 0px;
  padding-right: 42px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
@media (max-width: 1199px) {
  .accordion__body {
    padding-right: 0;
  }
}

.accordion__desc-box {
  margin-bottom: 60px;
}
@media (max-width: 1199px) {
  .accordion__desc-box {
    margin-bottom: 54px;
  }
}
@media (max-width: 767px) {
  .accordion__desc-box {
    margin-bottom: 20px;
  }
}

.accordion__desc {
  font-size: 23px;
  font-weight: 400;
  line-height: 37px;
}
@media (max-width: 1199px) {
  .accordion__desc {
    font-size: 18px;
    line-height: 29px;
  }
}
@media (max-width: 767px) {
  .accordion__desc {
    font-size: 14px;
    line-height: 22px;
  }
}

.accordion__desc:nth-child(1) {
  padding-top: 15px;
  margin-bottom: 33px;
}
@media (max-width: 767px) {
  .accordion__desc:nth-child(1) {
    margin-bottom: 22px;
    padding-top: 0;
  }
}

.accordion__blue {
  color: #3cbca7;
  text-decoration: none;
}

.accordion__blue:hover {
  color: #3cbca7;
}

.minus,
.plus {
  position: relative;
  right: 24px;
  color: #3cbca7;
}

.minus {
  font-size: 5px;
}

.plus {
  font-size: 22px;
}

.accordion__title {
  font-size: 60px;
  padding: 0 0 40px 0;
  text-align: center;
  padding-bottom: 60px;
}
